


<div style="background-color: rgb(134, 80, 8); padding: 7px;">
  <div style="display: flex; justify-content: space-between; max-width: 1200px; align-items: center; margin: 0 auto;">
      <h2 style="color: aquamarine;">Traders Solutions</h2>
         <nav>
          <button>Login</button>
          <a routerLink=""></a>
         </nav>
  </div>
</div>
<div>
  <ul style="display: flex; gap: 25px;">


      <a routerLink="role-form">Role-Form</a>
      <a routerLink="role-list">Role-list</a>
      <a routerLink="customer-form">Customer-form</a>
      <a routerLink="customer-list">Customer-list</a>
      <a routerLink="">location-form</a>
      <a routerLink="location-list">location-list</a>
      <a routerLink="organization-form">organization-form</a>
      <a routerLink="organization-list">organization-list</a>
      <a routerLink="payment-config-form">payment-config-form</a>
      <a routerLink="payment-config-list">payment-config-list</a>
      <a routerLink="payment-media-form">payment-media-form</a>
      <a routerLink="payment-media-list">payment-media-list</a>
      <a routerLink="plot-form">plot-form</a>
      <a routerLink="plot-list">plot-list</a>
      <a routerLink="branch-form">branch-form</a>
      <a routerLink="branch-list">branch-list</a>
      <a routerLink="project-form">project-form</a>
      <a routerLink="project-list">project-list</a>
      <a routerLink="schedule-form">schedule-form</a>
      <a routerLink="schedule-list">schedule-list</a>
      <a routerLink="payment-form">payment-form</a>
      <a routerLink="payment-list">payment-list</a>



  </ul>
</div>
<router-outlet></router-outlet>





<!-- <router-outlet></router-outlet> -->
