<div style="background-color: rgb(70, 125, 203); padding: 7px">
  <div
    style="
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      align-items: center;
      margin: 0 auto;
    "
  >
    <h2 style="color: rgb(0, 0, 0)">Traders Solutions</h2>
    <nav>
      <a routerLink=""></a>
    </nav>
  </div>
</div>
<div>
  <ul style="display: flex; gap: 25px">
    <a routerLink="role-form">Role-Form</a>
    <a routerLink="role-list">Role-list</a>
    <a routerLink="customer-form">Customer-form</a>
    <a routerLink="customer-list">Customer-list</a>
    <a routerLink="employee-form">Employee-form</a>
    <a routerLink="employee-list">Employee-list</a>
    <a routerLink="product-form">product-form</a>
    <a routerLink="product-list">product-list</a>
    <a routerLink="supplier-form">supplier-form</a>
    <a routerLink="supplier-list">supplier-list</a>
    <a routerLink="team-form">team-form</a>
    <a routerLink="team-list">team-list</a>
  </ul>
</div>
<div>
  <ul style="display: flex; gap: 25px">
    <a routerLink="attachment-form">attachment-form</a>
    <a routerLink="attachment-list">attachment-list</a>
    <a routerLink="audittrail-form">audittrail-form</a>
    <a routerLink="audittrail-list">audittrail-list</a>
    <a routerLink="inventory-form">inventory-form</a>
    <a routerLink="inventory-list">inventory-list</a>
    <a routerLink="notification-form">notification-form</a>
    <a routerLink="notification-list">notification-list</a>
    <a routerLink="order-form">order-form</a>
    <a routerLink="order-list">order-list</a>
    <a routerLink="purchase-form">purchase-form</a>
    <a routerLink="purchase-list">purchase-list</a>
  </ul>
</div>
<router-outlet></router-outlet>
