<h1>Supplier Form</h1>
<form [formGroup]="supplierForm" (ngSubmit)="submitForm()">
    <mat-grid-list cols="3" rowHeight="4:1">
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>contactName</mat-label>
                    <input matInput formControlName="contactName" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>contactTitle</mat-label>
                    <input matInput formControlName="contactTitle" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>phoneNumber</mat-label>
                    <input matInput formControlName="phoneNumber" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>emailAddress</mat-label>
                    <textarea matInput formControlName="emailAddress"></textarea>
                </mat-form-field>
            </div>

        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>address</mat-label>
                    <textarea matInput formControlName="address"></textarea>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>billingAddress</mat-label>
                    <input matInput formControlName="billingAddress" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>paymentTerms</mat-label>
                    <input matInput formControlName="paymentTerms" />
                </mat-form-field>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>paymentMethod</mat-label>
                    <input matInput formControlName="paymentMethod" />
                </mat-form-field>
            </div>
        </mat-grid-tile>      

        
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>tin</mat-label>
                    <input matInput formControlName="tin" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>website</mat-label>
                    <input matInput formControlName="website" />
                </mat-form-field>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>productCategories</mat-label>
                    <input matInput formControlName="productCategories" />
                </mat-form-field>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>supplierRating</mat-label>
                    <input matInput formControlName="supplierRating" />
                </mat-form-field>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>agreements</mat-label>
                    <input matInput formControlName="agreements" />
                </mat-form-field>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>preferredSupplier</mat-label>
                    <input matInput formControlName="preferredSupplier" />
                </mat-form-field>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>leadTime</mat-label>
                    <input matInput formControlName="leadTime" />
                </mat-form-field>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Minimum Order Quantity</mat-label>
                    <input matInput formControlName="minimumOrderQuantity" />
                </mat-form-field>
            </div>
        </mat-grid-tile>

        
    </mat-grid-list>

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form>