<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">Traders Solution</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/role-form"
    >Role-Form
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/role-list"
    >Role-List
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/customer-form"
    >Customer-Form
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/customer-list"
    >Customer-list
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/employee-form"
    >Employee-form
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/employee-list"
    >Employee-list
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/product-form"
    >Product-form
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/product-list"
    >Product-list
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/supplier-form"
    >Supplier-form
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/supplier-list"
    >Supplier-list
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/team-form"
    >Team-form
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/team-list"
    >Team-list
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/attachment-form"
    >Attachment-form
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/attachment-list"
    >Attachment-list
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/audittrail-form"
    >Audittrail-form
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/audittrail-list"
    >Audittrail-list
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/notification-form"
    >Notification-form
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/notification-list"
    >Notification-list
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/order-form"
    >Order-form
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/order-list"
    >Order-list
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/purchase-form"
    >Purchase-form
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/purchase-list"
    >Purchase-list
  </a>
</mat-nav-list>
