<!-- <h1>Product Form</h1>
<form [formGroup]="orderForm" (ngSubmit)="submitForm()">
    <mat-grid-list cols="3" rowHeight="4:1">
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>OrderDate</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="OrderDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>customer</mat-label>
                    <input matInput formControlName="customer" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>employee</mat-label>
                    <input matInput formControlName="employee" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>paymentMethod</mat-label>
                    <input matInput formControlName="paymentMethod" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>paymentDate</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="paymentDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>shippingAddress</mat-label>
                    <textarea matInput formControlName="shippingAddress"></textarea>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>billingAddress</mat-label>
                    <input matInput formControlName="billingAddress" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>orderStatus</mat-label>
                    <input matInput formControlName="orderStatus" />
                </mat-form-field>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>totalAmount</mat-label>
                    <input matInput formControlName="totalAmount" />
                </mat-form-field>
            </div>
        </mat-grid-tile>


        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>taxAmount</mat-label>
                    <input matInput formControlName="taxAmount" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>discountAmount</mat-label>
                    <input matInput formControlName="discountAmount" />
                </mat-form-field>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>shippingFee</mat-label>
                    <input matInput formControlName="shippingFee" />
                </mat-form-field>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>invoiceReceiptNumber</mat-label>
                    <input matInput formControlName="invoiceReceiptNumber" />
                </mat-form-field>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>notesComments</mat-label>
                    <input matInput formControlName="notesComments" />
                </mat-form-field>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>deliveryDate</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="deliveryDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>returnExchangeRequest</mat-label>
                    <input matInput formControlName="returnExchangeRequest" />
                </mat-form-field>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>returnExchangeDate</mat-label>
                    <input matInput [matDatepicker]="picker3" formControlName="returnExchangeDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
            </div>
        </mat-grid-tile>


    </mat-grid-list>

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form> -->


<div class="container mt-5">
    <h1>Order Form</h1>
    <form [formGroup]="orderForm" (ngSubmit)="submitForm()">
      <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="OrderDate">Order Date</label>
                    <input type="date" class="form-control" id="OrderDate">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="customer">Customer</label>
                    <input type="text" class="form-control" id="customer">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="employee">Employee</label>
                    <input type="text" class="form-control" id="employee">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="paymentMethod">Payment Method</label>
                    <input type="text" class="form-control" id="paymentMethod">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="paymentDate">Payment Date</label>
                    <input type="date" class="form-control" id="paymentDate">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="shippingAddress">Shipping Address</label>
                    <textarea class="form-control" id="shippingAddress"></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="billingAddress">Billing Address</label>
                    <textarea class="form-control" id="billingAddress"></textarea>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="orderStatus">Order Status</label>
                    <input type="text" class="form-control" id="orderStatus">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="totalAmount">Total Amount</label>
                    <input type="number" class="form-control" id="totalAmount">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="taxAmount">Tax Amount</label>
                    <input type="number" class="form-control" id="taxAmount">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="discountAmount">Discount Amount</label>
                    <input type="number" class="form-control" id="discountAmount">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="shippingFee">Shipping Fee</label>
                    <input type="number" class="form-control" id="shippingFee">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="invoiceReceiptNumber">Invoice/Receipt Number</label>
                    <input type="text" class="form-control" id="invoiceReceiptNumber">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="notesComments">Notes/Comments</label>
                    <input type="text" class="form-control" id="notesComments">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="deliveryDate">Delivery Date</label>
                    <input type="date" class="form-control" id="deliveryDate">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="returnExchangeRequest">Return/Exchange Request</label>
                    <input type="text" class="form-control" id="returnExchangeRequest">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="returnExchangeDate">Return/Exchange Date</label>
                    <input type="date" class="form-control" id="returnExchangeDate">
                </div>
            </div>
        </div>
    </form>
<!-- your.component.html -->
<div>
  <table class="table">
    <thead>
      <tr>
        <th>SL</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Rate</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of products; let i = index">
        <td>{{i + 1}}</td>
        <td>{{item.name}}</td>
        <td><input #inp class="form-control" type="number" (input)="addOrder(item, inp.value)"></td>
        <td>{{item.unitPrice}}</td>
        <td>{{ getAmount(item.id) }}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <strong>Total Amount: {{ getTotalAmount() }}</strong>
  </div>
</div>


</div>
