<h1>Customer Form</h1>
<form [formGroup]="customerForm" (ngSubmit)="submitForm()">
    <mat-grid-list cols="3" rowHeight="5:1">
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="phone" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Address</mat-label>
                    <textarea matInput formControlName="address"></textarea>
                </mat-form-field>
            </div>

        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Billing Address</mat-label>
                    <textarea matInput formControlName="billingAddress"></textarea>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Company Name</mat-label>
                    <input matInput formControlName="companyName" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>TIN</mat-label>
                    <input matInput formControlName="tin" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Date of Registration</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dateOfRegistration">
                    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Customer Category</mat-label>
                    <input matInput formControlName="customerCategory" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Credit Limit</mat-label>
                    <input matInput formControlName="creditLimit" />
                </mat-form-field>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form>